@import "../../vars.css";
@import "../../App.css";

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
}

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}

.nav__logo {
    display: flex;
    column-gap: .5rem;
    align-items: center;
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.nav__logo-circle,
.nav__toggle {
    width: 32px;
    height: 32px;
    background-color: var(--black-color);
    color: var(--white-color);
    display: grid;
    place-items: center;
}

.nav__logo-circle {
    border-radius: 50%;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, .75);
    width: 100%;
    text-align: center;
    padding-block: 1.8rem 5rem;
    backdrop-filter: blur(8px);
    transition: top .4s;
}

.nav__menu.open {
    top: 0;
}

.nav__title,
.nav__name,
.nav__close {
    color: var(--first-color);
}


.nav__title {
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 3.5rem;
}



.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    position: relative;
    color: var(--text-color-light);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
    transition: color .3s;
}

.nav__link::after {
    content: '';
    width: 25%;
    height: 2px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    bottom: -.5rem;
    transition: width .3s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__link:hover::after {
    width: 100%;
}

.nav__close {
    position: absolute;
    font-size: 1.25rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

@media screen and (max-width: 1151px) {
    .nav__menu {
        position: fixed;
        top: -100%;
        /* Starts off-screen */
        left: 0;
        background-color: hsla(0, 0%, 0%, 0.75);
        width: 100%;
        text-align: center;
        padding-block: 1.8rem 5rem;
        backdrop-filter: blur(8px);
        transition: top 0.4s ease-in-out;

    }


    .nav__menu.open {
        top: 0;

    }

    .nav__toggle {
        font-size: 1.25rem;
        cursor: pointer;
        display: grid;

        place-items: center;
    }

    .nav__link {
        font-size: 1.25rem;

    }

    .nav__list {
        flex-direction: column;

        row-gap: 2rem;
    }

    .nav__close {
        font-size: 1.5rem;

        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        cursor: pointer;
    }
}

/* Desktop styles */
@media screen and (min-width: 1151px) {
    .nav__menu {
        position: static;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        backdrop-filter: none;
        background-color: transparent;
        box-shadow: none;
        transition: none;
    }

    .nav__toggle {
        display: none;
    }

    .nav__close {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 2rem;
    }
}